h1{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.5;
}

h2{
    font-family: "Montserrat";
    font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.5;

}

h3{
   font-family: "Montserrat";
   font-weight: 600;
  font-style: normal;
  font-size: 2rem;
  line-height: 2;
}

p{
    color: #8f8f8f;
}

em{
    font-family: "ubuntu";
    font-weight: 200;
   font-style: normal;
   font-size: 1rem;
}



#title{
    background-color: #ff4c68;
    color: #fff;
}

.container-fluid{
    padding: 3% 10%;
}

/* navbar */

.navbar{
    padding-top: 4rem;
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: "ubuntu";
    font-size: 3rem;
    font-weight: bold;
    color: #fff;
    cursor: pointer;
    transition: 0.3s ease;
    text-shadow:0 0 2px black;
}

.navbar-brand:hover{

    transform: scale(1.1,1.1);
    text-shadow: 0 0 20px black;
}


.nav-item{
    padding: 0 18px;
    cursor: pointer;
    transition: 0.3s ease;
}

.nav-item:hover{
    transform: scale(1.1,1.1)translateY(-5px);
    text-shadow: 0 0 15px black;
}

.nav-link{
    font-size: 1.2rem;
    font-family: "Montserrat-Light" ;

}

/* download-button */

.download-button{
    margin: 5% 3% 5% 0;
}


.head-padding{
    margin-top: 100px;
    margin-bottom: 140px;
}

.title-image{
    background-color: white;
    margin: auto;
    width: 31%;
    border-radius: 100%;
    position: absolute;
    box-shadow: 0 0 25px black;
    cursor: pointer;
    transition: 0.4s ease-in-out;
}

.title-image:hover{
    transform: scale(1.03);
    box-shadow: 0 0 25px #ef8172;
    box-shadow: 0 50px #ef8172;
    box-shadow: 0 0 100px #ef8172;
}

.mid-vertical{
    display: flex;
    align-items: center;
}

/* text animation */

.text-animation{
    font-size: 34px;
    font-weight: 900;
    min-width: 280px;
}

.text-animation span{
    position: relative;
}

.text-animation span::before{
    content: "Web Devloper";
    color: white;
    animation: words 20s infinite;
}

.text-animation span::after{ 
    content: "";
    background-color: #ff4c68;
    position: absolute;
    width: calc(100% + 8px);
    height: 105%;
    border-left: 3px solid #ff4c68;
    right: -8px;
    animation: cursor 0.6s infinite, typing 20s steps(14) infinite;
}

@keyframes cursor{
    to{
        border-left: 2px solid white;
    }
}

@keyframes words{
    0%,
    20%{
        content: "Frontend Developer";
    }
    21%,
    40%{
        content: "Backend Developer";
    }
    41%,
    60%{
        content: "UI / UX Designer";
    }
    61%,
    80%{
        content: "Web Developer";
    }
    81%,
    100%{
        content: "Full-Stack Developer";
    }
}

@keyframes typing{
    10%,
    15%,
    30%,
    35%,
    50%,
    55%,
    70%,
    75%,
    90%,
    95%{
        width: 0;
    }
    5%,
    20%,
    25%,
    40%,
    45%,
    60%,
    65%,
    80%,
    85%{
        width: calc(100% + 8px);
    }

}

/* feature section */

#features{
    background-color: #fff;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: black;
    padding-left: 1.5rem;
}
.icon:hover{
    color: #ff4c68;
}


/* testimonials */

#testimonials{
    text-align: center;
    background-color: #ef8172;
    color: #fff;
}
.carousel-head{
    font-family: "Montserrat";
    font-weight: 700;
  font-style: normal;
  font-size: 3rem;
  line-height: 1.5;
  padding: 5% auto 9%;
}

.carousel-item{
    padding: 5% 15%;
}

.testimonial-image{
    width: 7%;
    border-radius: 100%;
    margin: 20px;
}



/* skills */



.skills-section {
    width: 60%;
    margin: 20px auto;
    font-family: Arial, sans-serif;
  }
  
  .skills-section h2 {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .skills-list {
    list-style: none;
    padding: 0;
  }
  

  .skills-list li {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Aligns content to the left */
    margin: 11px 0; /* Adds vertical spacing between each skill */
    padding: 11px 0; /* Optional padding within each skill item */
  }
  
  .skill-name {
    font-weight: bold;
    margin-bottom: 1px;
    text-align: left; /* Ensures left alignment */
  }
  
  
  .skill-bar {
    background-color: #f0f0f0;
    height: 10px;
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
  }
  
  .skill-level {
    height: 100%;
    background-color: #4caf50;
    border-radius: 5px;
    width: 0; /* Start at 0% */
    animation: fillBar 2s forwards;
  }
  
  @keyframes fillBar {
    to {
      width: var(--level); /* Animate to the specified level */
    }
  }
  


/* Education */

#education{
    background-color: white;
    padding: 7% 15%;
    position: relative;
    z-index: 1;
}

.heading{
    text-align: center;
    margin: 1rem 0 4rem 0;
    padding-bottom: 5rem;
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2rem;
  line-height: 1.5;
}

.education{
    padding: 100px 15px;
    background: white;
}

.education h2{
    margin-bottom: 3rem;
}


/* education operator */

.timeline-items{
    max-width: 1200px;
    margin:auto;
    display: flex;
    flex-wrap: wrap;
    position: relative;
 }
 
 .timeline-items::before{
     content: "";
     position: absolute;
     width: 5px;
     height: 100%;
     background-color: #ff4c68;
     left: calc(50% - 1px);
 }
 
 .timeline-item{
     margin-bottom: 40px;
     width: 100%;
     position: relative;
 }
 
 .timeline-item:last-child{
     margin-bottom: 0;
 }
 
 .timeline-item:nth-child(odd){
     padding-right: calc(50% + 30px);
     text-align: right;
 }
 
 .timeline-item:nth-child(even){
     padding-left: calc(50% + 30px);
 }
 
 .timeline-dot{
     height: 21px;
     width: 21px;
     background-color: #ff4c68 ;
     box-shadow: 0 0 25px #ff4c68;
     box-shadow: 0 0 50px #ff4c68;
     position: absolute;
     left: calc(50% - 8px);
     border-radius: 50%;
     top: 10px;
 }
 
 

/* end of education operator */
.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: #ff1f40;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: white;
    border: 3px solid #ff4c68;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #ff4c68;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #ff4c68;
}

.timeline-content h3{
    font-size: 20px;
    color: #ff0026;
    margin: 0 0 10px;
    font-weight: 500;
    font-family: "ubuntu";
    font-weight: bold;
}

.timeline-content p{
    color: black;
    font-size: 16px;
    font-weight: 300;
    line-height: 22px;
    font-family: "Montserrat";
  font-style: normal;
}

::-webkit-scrollbar{
    width: 5px;
}

::-webkit-scrollbar-thumb{
    background-color: #ff4c68;
}

::-webkit-scrollbar-track{
    background-color: #ef8172;
    width: 50px;
}




/* pricing section */

#pricing{
    padding: 100px;
}

.card-padding{
    padding: 5% 10%;
}

/* mobile version */

@media (max-width: 1230px) {
    
.title-image{
    width: 60%;
    position: static;
}
    
#title{
    text-align: center;}    

  

.srm{
    padding-top: 50px;
}
}

/* call to action */

#cta{
    background-color: #ff4c68;
    padding: 8% 16%;
    text-align: center;
}

.calltoaction{
    font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  font-size: 4rem;
  line-height: 1.5;
  color: #fff;
  padding-bottom: 5%;
}

/* Footer  */

#footer{
    text-align: center;
    padding: 2%;
}
.table{
    width: 200px;
    margin: 1% auto 1% auto;
}

@media (max-width: 1020px) {

.testimonial-text{
    font-size: 2rem;
}    
.t-card{font-size: 2rem;}   

.carousel-item h1{
    font-size: 2rem;
}

.carousel-item h3{
    font-size: 1.25rem;
}



.calltoaction{
        font-size: 2rem;
        line-height: 1;}
}

@media (max-width:1000px){

#education{
        background-color: white;
        padding: 7% 10%;
        position: relative;
        z-index: 1;
}
    
.heading{
        text-align: center;
        margin: 1rem 0 4rem 0;
        padding-bottom: 5rem;
        font-family: "Montserrat", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
      font-size: 2rem;
      line-height: 1.5;
}
    
.education{
        padding: 100px 15px;
        background: white;
}
    
.education h2{
        margin-bottom: 3rem;
}    

.timeline-items{
        max-width: 700px;
        margin:auto;
        display: flex;
        flex-wrap: wrap;
        position: relative;
}
     
.timeline-items::before{
         content: "";
         position: absolute;
         width: 5px;
         height: 100%;
         background-color: #ff4c68;
         left: 1px;
}
     
.timeline-item{
         margin-bottom: 40px;
         flex-basis: 100%;
         position: relative;
}
     
.timeline-item:last-child{
         margin-bottom: 0;
}
     
.timeline-item:nth-child(odd){
         padding-left: 30px;
         text-align: left;
         padding-right: 0;
}
     
.timeline-item:nth-child(even){
         padding-left: 30px;
}
     
     
.timeline-dot{
         height: 21px;
         width: 21px;
         background-color: #ff4c68 ;
         box-shadow: 0 0 25px #ff4c68;
         box-shadow: 0 0 50px #ff4c68;
         position: absolute;
         left: 8px;
         border-radius: 50%;
         top: 10px;
}

.timeline-date{
    font-size: 20px;
    font-weight: 800;
    color: #ff1f40;
    margin: 6px 0 15px;
}

.timeline-content{
    background-color: white;
    border: 3px solid #ff4c68;
    padding: 30px 50px;
    border-radius: 4rem;
    box-shadow: 0 0 10px #ff4c68;
    width: 100%;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.timeline-content:hover{
    transform: scale(1.05);
    box-shadow: 0 0 25px #ff4c68;
}

}